@font-face {
	font-family: cookie;
	src: url(../fonts/Cookie-Regular.ttf);
}
.headertextright {
	font-family: cookie;
	width: 192px;
	height: 202px;
	color: #005074;
	font-size: 27px;
	line-height: 30px;
	font-family: cookie, cursive;
	font-weight: 400;
	position: relative;
	float: left;
	display: table;
}
.headertextright p {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.headertextleft {
	font-family: cookie;
	width: 192px;
	height: 202px;
	color: #005074;
	font-size: 27px;
	line-height: 30px;
	font-family: cookie, cursive;
	font-weight: 400;
	position: relative;
	float: left;
	display: table;
}
.headertextleft p {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
#logo {
	width: 536px;
	text-align: center;
	overflow: hidden;
	float: left;
}
#wrapper_header {
	width: 920px;
	float: left;
}