html {
	padding: 50px 0px 50px 0px;
	background-image: url(../pics/tumblr_static_8i9nw6y83dwkk4w8kggg8k8gk.png);
}
body {
	width: 750px;
	height: 2000px;
	margin: auto;
	padding: 20px;
	background-image: url(../pics/background-gray-linen.jpg);
	border-radius: 25px;
}
.sandbox {
	width: 100%;
	margin: auto;
	border: 2px solid black;
}