@font-face {
    font-family: cookie;
    src: url(../fonts/Cookie-Regular.ttf);
}
nav {
    border: 5px solid #7f7f7f;
    display: inline-block;
    font-family: cookie;
    font-size: 27px;
    background-color: #003C54;
    border: 5px solid #7f7f7f;
    border-radius: 21px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, .5);
    margin: 22px 0px;
    padding: 0;
}
nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
nav ul li {
    display: table-cell;
    position: relative;
    list-style-type: none;
    width: 115px;
    height: 76px;
    -ms-height: 76px;
    vertical-align: middle;
    text-align: center;
}
nav li ul {
    display: none;
}
nav ul li a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #7f7f7f;
}
nav li:hover ul {
    display: inline-block;
    position: absolute;
    line-height: 75px;
    left: 0px;
    background-color: #003C54;
    margin-top: 23px;
    border-top: 0;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #7f7f7f;
    border-radius: 0 0 21px 21px;
    z-index: 1;
}
@-moz-document url-prefix() {
    nav li:hover ul {
    display: inline-block;
    position: absolute;
    left: 0px;
    background-color: #003C54;
    margin-top: 23px;
    border-top: 0;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #7f7f7f;
    border-radius: 0 0 21px 21px;
    z-index: 1;
    }
}
nav li:hover li {
    float: left;
    width: 190px;
    height: 76px;
    text-align: center;
}
nav li:hover a {
    color: white;
}
nav li:hover li a:hover {
    
}